.mainlogstr {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainlog {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.mainlog label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

.mainlog input[type="text"]{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.mainlog p {
    margin-bottom: 15px;
    color: red;
}

.btn_sub {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}